@import './App.scss';
@import './base.scss';

.center-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 620px;
  height: 700px;
  .page-header {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .accommodation-container {
    width: 620px;
    height: 700px;
    border: 1px solid $logo-color;
    .inputbox {
      display: flex;
      flex-direction: column;
      .name {
        margin: 10px auto;
      }
      .city {
        margin: 10px auto;
      }
      .googleCoordinates {
        margin: 10px auto;
      }
      .address {
        margin: 10px auto;
      }
      .description {
        margin: 10px auto;
      }
      .aligned-container {
        margin: 10px auto;
        width: 435px;
      }
      .upload-btn {
        margin-top: 10px;
        .uploaded-photos {
          margin-top: 14px;
        }
      }
      .btn-long {
        width: 140px;
        margin-left: 1px !important;
        @extend %btn-long;
        text-align: center;
      }
      button {
        width: 160px;
        height: 40px;
        font-size: 16px;
        background-color: #c4c4c4;
      }
      input {
        width: 435px;
        height: 30px;
        margin-top: 10px;
          font-size: 14px;
        border: 1px solid #5c5c5c;
        border-radius: 2px;
        padding: 0px 0px 0px 10px!important;
        margin-right: 0px !important;
      }
      select {
        width: 435px;
        height: 30px;
        margin-top: 10px;
          font-size: 14px;
        border: 1px solid #5c5c5c;
        border-radius: 2px;
        margin-right: 0px !important;
                padding: 0px 0px 0px 10px!important;
      }
      textarea {
        width: 435px;
        height: 60px;
        margin-top: 10px;
          font-size: 14px;
        border: 1px solid #5c5c5c;
        border-radius: 2px;
                padding: 0px 0px 0px 10px!important;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1223px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}

@media screen and (min-width: 324px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .center-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    height: 700px;
    .page-header {
      margin-bottom: 10px;
      margin-left: 5px;
    }
    .accommodation-container {
      width: 100%;
      height: 700px;
      border: 1px solid $logo-color;
      .inputbox {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .name {
          margin: auto;
        }
        .city {
          margin: auto;
        }
        .googleCoordinates {
          margin: auto;
        }
        .address {
          margin: auto;
        }
        .description {
          margin-top: 10px !important;
          textarea {
            width: 230px;
                      
          }
        }
        .aligned-container {
          margin: 10px auto;
          width: 385px;
        }
        .upload-btn {
          margin-left: 6px;
        }
        .btn-long {
          margin-left: 5px !important;
        }
        button {
          width: 140px;
          height: 30px;
          background-color: #c4c4c4;
        }
        input {
          width: 100%;
          height: 30px;
          margin-top: 10px;
          font-size: 20px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
          margin-bottom: 5px;
        }
        select {
          width: 235px;
          height: 30px;
          margin-top: 10px;
          font-size: 10px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
                    margin-bottom: 10px;
        }

      }
    }
  }
}
@media (max-width: 768px) and (min-width: 360px) {
  .center-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    height: 700px;
    .page-header {
      margin-bottom: 10px;
      margin-left: 5px;
    }
    .accommodation-container {
      width: 100%;
      height: 700px;
      border: 1px solid $logo-color;
      .inputbox {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .name {
          margin: auto;
        }
        .city {
          margin: auto;
        }
        .googleCoordinates {
          margin: auto;
        }
        .address {
          margin: auto;
        }
        .description {
          margin: auto;
          textarea {
            width: 380px;
          }
        }
        input {
          width: 380px;
          height: 30px;
          margin-top: 10px;
          font-size: 20px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
          padding-left: 100px;
        }
        select {
          width: 380px;
          height: 30px;
          margin-top: 10px;
          font-size: 10px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 380px){
  .center-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    height: 700px;
    .page-header {
      margin-bottom: 10px;
      margin-left: 5px;
    }
    .accommodation-container {
      width: 100%;
      height: 700px;
      border: 1px solid $logo-color;
      .inputbox {
                margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .name {
          margin: auto;
        }
        .city {
          margin: auto;
        }
        .googleCoordinates {
          margin: auto;
        }
        .address {
          margin: auto;
        }
        .description {
          margin: auto;
          textarea {
            width: 230px;
          }
        }
        .aligned-container {
          margin: 10px auto;
          width: 385px;
        }
        .upload-btn {
          margin-left: 6px;
        }
        .btn-long {
          margin-left: 5px !important;
        }
        button {
          width: 140px;
          height: 30px;
          background-color: #c4c4c4;
        }
        input {
          width: 100%;
          height: 30px;
          margin-top: 10px;
          font-size: 20px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
        }
        select {
          width: 235px;
          height: 30px;
          margin-top: 10px;
          font-size: 10px;
          border: 1px solid #5c5c5c;
          border-radius: 2px;
        }
      }
    }
  }
}