/********************
  Add re-usable style
 *********************/
 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
 @import '../../../node_modules/react-toastify/scss/main.scss';
 $body-color: #F4F4F4;
 $logo-color: #00B9F2;
 body {
   background-color: #F7F7F7;
 }
//  This style will be removed after incorporationg view single booking with view all booking
// ****************
 .tempStyle{
   height: 85%;
 }
//  ***************
.search-results-counter{
  margin-top: 10px;
  margin-left: 10px;
  color: gray;
}
 .submitBtn {
   button {
     font-size: 18px;
     height: 80%;
     background-color: #00b9f2;
     color: white;
     outline: none;
     border: none;
     margin: 2% 20%;
     cursor: pointer;
   }
   .btn-short {
     width: 60%;
   }
   button:hover {
     background-color: white;
     color: #00b9f2;
     border: solid 1px #00b9f2;
   }
 }
.dashboard{
  min-height: 95%;
}

.submitBtn {
  button {
    font-size: 18px;
    height: 80%;
    background-color: #00b9f2;
    color: white;
    outline: none;
    border: none;
    margin: 2% 20%;
    cursor: pointer;
  }

  .btn-short {
    width: 60%;
  }

  button:hover {
    background-color: white;
    color: #00b9f2;
    border: solid 1px #00b9f2;
  }
}
