@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import '../../../node_modules/react-toastify/scss/main.scss';

* {

  font-family: 'Muli', sans-serif;
}

$body-color: #F7F7F7;;
$logo-color: #00B9F2;

body {
  background-color: #F7F7F7;
}
