@import 'App.scss';
@import 'base.scss';
.boxContainer {
  width: 100%;
  height: 300px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  .fieldContainer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 500px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    .boxTitle {
      text-align: center;
      font-size: 25px;
      margin: 20px;
    }
    .boxDescription {
      text-align: center;
      color: rgb(59, 59, 59);
      margin: 20px 40px;
    }
    .center-form{
      .inputbox{
              display: flex;
              flex-direction: column;
        .password{
           margin: 0 auto;
        }
                .confirmPassword{
           margin: 0 auto;
        }
                .email{
           margin: 0 auto;
        }
                input {
          width: 435px;
           height: 30px;
          margin-top: 10px;
                font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
        }
      }
    }
    .blue-bg{
      background: rgba(0, 186, 242, 0.137);
      border: 1px solid $logo-color;
      color: $logo-color;
      border-radius: 2px;
    }
    .boxLine {
      width: 75%;
      border-top: 1px solid $logo-color;
      margin: auto;
    }
    .inputbox div input {
     width: 100%;
     max-width: 435px;
     box-sizing: border-box;
      margin: 30px 0px;
      height: 30px;
      margin-top: 2px;
      font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
    }
    .btn-long {
      background-color: $logo-color;
      font-size: 18px;
      border: none;
      width: 380px;
      height: 40px;
      color: aliceblue;
      margin: 20px;
      box-sizing: border-box;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        text-decoration: none;
      .btn-txt{
        margin-top: 5px;
      }
    }
    .btn-box {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .errorMessage {
      height: auto;
      margin: 10px;
    }
    .square-image{
      width: 55px;
      height: 55px;
    }
  .center{
    margin: 10px;
    text-align: center;
  }
  }
}
.profile-name{
@extend %profile-name;
}
.profile-img{
  margin-top: -5px;
  color: $logo-color;
}
@media screen and (min-width: 1024px) and (max-width: 1223px) {
  .boxContainer {
    .fieldContainer {
      width: 800px;
          .center-form{
      .inputbox{
              display: flex;
              flex-direction: column;
                input {
          width: 100%;
           height: 30px;
          margin-top: 10px;
                font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
        }
      }
    }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .boxContainer {
    .fieldContainer {
      width: 800px;
          .center-form{
      .inputbox{
              display: flex;
              flex-direction: column;
                input {
          width: 100%;
           height: 30px;
          margin-top: 10px;
                font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
        }
      }
    }
    }
  }
}
@media screen and (min-width: 324px) and (max-width: 1024px) {
  .boxContainer {
    .fieldContainer {
      width: 800px;
          .center-form{
      .inputbox{
              display: flex;
              flex-direction: column;
                input {
          width: 100%;
           height: 30px;
          margin-top: 10px;
                font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
        }
      }
    }
    }
  }
}
@media screen and (max-width: 768px) {
  .boxContainer {
    margin: 0px;
    margin-top: 50px;
    .fieldContainer {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 100%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          .center-form{
      .inputbox{
              display: flex;
              flex-direction: column;
                input {
          width: 100%;
           height: 30px;
          margin-top: 10px;
                font-size: 20px;
      border: 1px solid #5c5c5c;
      border-radius: 2px;
        }
      }
    }
      .btn-long {
        background-color: $logo-color;
        border: none;
        width: 100%;
        height: 40px;
        color: aliceblue;
        margin: 20px;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
@media screen and (max-width: 324px) {
  .boxContainer {
    margin: 0px;
    margin-top:25px;
    .fieldContainer {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 100%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            .btn-long {
            font-size: 15px;
            margin: 10px;
            }
    }
  }
}


