@import 'App.scss';
%full-height-width {
  height: 100%;
  width: 100%;
}
%profile-name {
  margin-top: 17px;
  width: 145px;
  height: 20px;
  left: 1050px;
  top: 15px;
  font-family: Muli;
  font-size: 13px;
  line-height: 15px;
  color: #00b9f2;
}
%profile-img img {
  margin-top: 13px;
  width: 20px;
  margin-right: 20px;
  height: 20px;
  border-radius: 50%;
}
.authContainer * {
  box-sizing: border-box;
  margin: auto;
}
%auth-container {
  min-height: 650px;
  position: fixed;
  background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1577619008/Screen_Shot_2019-12-29_at_13.26.26_reywu7.png');
  @extend %full-height-width;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.authContainer * {
  box-sizing: border-box;
  margin: auto;
}
%auth-form {
  font-size: 14px;
  width: 32%;
  @media screen and (min-width: 200px) and (max-width: 500px) {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  @media screen and (min-width: 500px) and (max-width: 1030px) {
    width: 70%;
    height: 100%;
  }
  border-radius: 10px;
  background-color: white;
  .authFormextraInfo {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      .orLine {
        width: 40%;
      }
      div {
        margin-left: 5%;
        text-align: left;
        width: auto;
        a {
          text-decoration: none;
          color: #00b9f2;
        }
      }
    }
  }
  .barefootIcon {
    padding-top: 20px;
    width: 40%;
    img {
      @extend %full-height-width;
    }
  }
  .introNote {
    div {
      font-size: 30px;
      height: 80%;
      border-bottom: rgb(189, 187, 187) solid 1px;
    }
  }
  div {
    width: 90%;
    .button {
      height: 100%;
      width: 100%;
      box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
    }
    .socialBtn {
      height: 45px;
      width: 70%;
      margin: 0% 15%;
    }
    div {
      width: 100%;
      height: 40%;
      padding-top: 5px;
    }
    .socio-login-btn-link {
      cursor: pointer;
      box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      padding-top: 0px;
      height: 110%;
      width: 100%;
      .social-icon {
        width: 100px;
        height: 100%;
        img {
          padding-left: 7px;
          margin: auto;
        }
      }
      .social-name {
        height: 100%;
        margin-bottom: -4px;
      }
    }
    input {
      border: solid 1px #5c5c5c;
      opacity: 93%;
      width: 100%;
      height: 60%;
      border-radius: 2px;
      padding-left: 12px;
    }
  }
  .errorMessage {
    height: auto;
  }
}
%tripHeaders {
  margin-top: 40px;
  h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
    margin-top: -10px;
    margin-left: 20px;
  }
}
%trip-left-side-button {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-top: 9%;

  @media screen and (min-width: 320px) and (max-width: 576px) {
    flex-direction: row;
    width: 100%;
    margin-top: -20%;
    margin-left: -10px;
  }
  div {
    padding-top: 15%;
    a {
      position: relative;
      margin-left: 24%;
      width: 68%;
      height: 50px;
      background-color: transparent;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      padding-left: 15px;
      outline: none;
      border: none;
      color: rgba(0, 0, 0, 0.53);
      @media screen and (min-width: 320px) and (max-width: 576px) {
        width: 90%;
        font-size: 14px !important;
        position: relative;
        height: 60%;
        margin-bottom: 4%;
        padding-bottom: 2%;
      }
    }
    a:hover {
      z-index: 2;
      border: 1px solid #00B9F2;
      z-index: 3;
      border-right: 4px solid #F4F4F4;
      color: black;
      font-weight: bold;
      @media screen and (min-width: 320px) and (max-width: 576px) {
        margin-bottom: -3px;
        margin-left: 30px;
        margin-right: -20px;
        width: 90%;
        border: 1px solid #00B9F2;
        background-color: white;
        height: 80%;
        text-align: center;
      }
    }
    .active {
      z-index: 10;
      border: 1px solid #00B9F2;
      z-index: 1;
      border-right: 4px solid #F4F4F4;
      color: black;
      font-weight: bold;
      @media screen and (min-width: 320px) and (max-width: 576px) {
        margin-bottom: -3px;
        width: 85%;
        border: 1px solid #00B9F2;
        background-color: white;    
        height: 80%;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0px;
}
%btn-long {
      background-color: $logo-color;
      font-size: 18px;
      border: none;
      width: 384.65px;
      height: 40px;
      color: aliceblue;
      margin: 20px;
      box-sizing: border-box;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }