@import 'App.scss';
%full-height-width {
  height: 100%;
  width: 100%;
}
%auth-container {
  position: fixed;
  background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1577619008/Screen_Shot_2019-12-29_at_13.26.26_reywu7.png');
  @extend %full-height-width;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.authContainer *{
  box-sizing: border-box;
  margin: auto;
}

%auth-form {
  font-size: 14px;
  width: 32%;

  @media screen and (min-width: 200px) and (max-width: 500px) {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  @media screen and (min-width: 500px) and (max-width: 1030px) {
    width: 70%;
    height: 100%;
  }

  border-radius: 10px;
  background-color: white;

  .authFormextraInfo {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;

    div {
      display: flex;

      .orLine {
        width: 40%;
      }

      div {
        margin-left: 5%;
        text-align: left;
        width: auto;

        a {
          text-decoration: none;
          color: #00B9F2
        }
      }
    }
  }

  .barefootIcon {
    padding-top: 20px;
    width: 40%;

    img {
      @extend %full-height-width;
    }
  }
  .introNote {
    div {
      font-size: 30px;
      height: 80%;
      border-bottom: rgb(189, 187, 187) solid 1px;
    }
  }

  div {
    width: 90%;

    .button {
      height: 100%;
      width: 100%;
      box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
    }

    .socialBtn {
      height: 45px;
      width: 70%;
      margin: 0% 15%;
    }
    div {
      width: 100%;
      height: 40%;
      padding-top: 5px;
    }

    .socio-login-btn-link {
      cursor: pointer;
      box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      padding-top: 0px;
      height: 110%;
      width: 100%;

      .social-icon {
        width: 100px;
        height: 100%;

        img {
          padding-left: 7px;
          margin: auto;
        }
      }

      .social-name {
        height: 100%;
        margin-bottom: -4px;
      }
    }

    input {
      border: solid 1px #5C5C5C;
      opacity: 93%;
      width: 100%;
      height: 60%;
      border-radius: 2px;
      padding-left: 12px;
    }
  }

  .errorMessage {
    height: auto;
  }

  .submitBtn {
    button {
      font-size: 18px;
      height: 80%;
      background-color: #00b9f2;
      color: white;
      outline: none;
      border: none;
      margin: 2% 20%;
      cursor: pointer;
    }

    .btn-short {
      width: 60%;
    }

    button:hover {
      background-color: white;
      color: #00b9f2;
      border: solid 1px #00b9f2;
    }
  }
}
::-webkit-scrollbar {
  width: 0px;
}
