.profile-row{
        background-color: white;
    margin-left: 0px;
    height: 100%;
* {
    box-sizing: border-box;
} 
.profile-column-form {
    float: left;
    width: 64%;
    padding: 10px;
    background-color: white;
}

.required {
    color: red;
}

.edit-profile-column-picture {
    float: left;
    width: 35%;
    height: 450px;
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 99px;
}



.edit-profile-title {
    padding-top: 35px;
    margin-left: 20px;
    text-align: center;
    
}

.edit-profile-title-details {
    margin: 5px 0;
    height: 30px;
}

.legend {
    margin-bottom: 20px;
}

.bg-btn {
    min-height: 36px;
    width: auto;
    border: 1px solid #d4d4d4;
    border-radius: 1px;
    background-color: #f8f8f8;
    color: #999;
    font-size: 14px;
    line-height: 14px;
    margin-right: 10px;
    padding: 9px 21px;
    cursor: pointer;
    outline: none!important;
}

.profile-details-row {
       display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 20px;
}
  
.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    background-color: white;
}
  
.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}
  
.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}
  
.col-25,
.col-50,
.col-75 {
    padding: 0 16px 0 0;
}
  
.profile-container {
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 70px;
}
  
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px; 
}
  
label {
    margin-bottom: 10px;
    display: block;
} 
  
.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}
  
 .btn {
    background-color: #00B9F2;
    color: white;
    padding: 12px;
    margin: 20px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
} 

.edit-btn {
    background-color: #00B9F2;
    color: white;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
  
.btn:hover {
    background-color: #00B9F2;
}
  
a {
    color: #2196F3;
}
  
hr {
    border: 1px solid lightgrey;
}

.edit-profile-picture {
    display: grid;
    justify-content: space-evenly;
    margin: 10px;
}

.edit-profile-picture-title {
    margin: 20px;
    text-align: center;
}
  
.edit-profile-picture h3 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}
  
.edit-profile-picture img{
    width: 140px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}
  
.edit-profile-picture button {
    width: 160px;
    height: 40px;
    border: 1px solid #00B9F2;
    box-sizing: border-box;
    background: white;
    text-align: center;
    margin: 10px;
}

.react-file-reader{
    height: 40px;
}
  
.edit-profile-picture p {
    color: #00B9F2;
}
  
.profile-details {
    margin-left: 30px;
}
  
}
.profile-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .profile-row {
      display: flex;
      flex-direction: column-reverse;

   .profile-column-form {
    width: 100%;
}
.edit-profile-column-picture {
    width: 100%;
}
    div{
        width: 100%;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .edit-btn {
        width: 400px;
        height: 70px;
    }
    .btn {
        width: 400px;
        height: 70px;
    }
    } 
}