.dashboard {
  max-height: 85%;
  display: flex;
  flex-direction: column;
}

.dashboard-title {
  text-transform: uppercase;
  padding: 20px;
  padding-left: 35px;
}

.most-travelled-title {
  padding-top: 10px;
  font-size: 18px;
  text-align: start;
  margin-bottom: 2em;
}
.column {
  float: left;
  width: 100%;
}
.column-requests, .column-bookings {
  float: left;
  width: 50%;
}

.destination-details {
  padding: 48px 0px;
  text-align: left;
  display: block;
 }
/* Clear floats after the columns */
.firstRow:after, .lastRow:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
}

.most-travelled-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.most-travelled-card img {
  width: 330px;
  height: 221px;

}

.destination-details img {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-right: 20px;

}

.destination-details p {
  padding: 9px;
}

.card-requests {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color: #fff;
  height: 30vh;
  width: 50vh;

}

.card-requests a {
  color: #00b9f2;
  text-decoration: none;

}  

.card-bookings {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  background-color: #fff;
  height: 30vh;
  width: 50vh;
  float: right;
}

.card-bookings a {
  color: #00b9f2;
  text-decoration: none;

} 

.lastRow {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.request-title {
  text-align: start;
  margin-bottom: 2em;
}

.requests{
  padding: 10px;
  } 

/* Responsive columns */
@media screen and (max-width: 900px) {
  .lastRow {
  flex-direction: column;
}
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

.most-travelled-card {
    margin-left: 0px;
    width: 100%;
    display: block;
  }

.most-travelled-card img{
    object-fit: cover;
    width: 100%;
  }

  .destination-details img {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-right: 20px;
  }


  .card-requests, .card-bookings {
    margin-left: 0px;
    width: 100%;
    display: block;
  }

  .column-requests , .column-bookings{
    margin-left: 0px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0px;
  }
}
