@import 'base.scss';

.oneway-container {
    display: flex;
    flex-direction: column;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    min-height: 100%;
    margin-bottom: 10%;
    width: 90%;
    z-index: -2;


    @media screen and (min-width: 320px) and (max-width: 576px) {

        width: 100%;
        height: 100%;

    }

    @media screen and (min-width: 500px) and (max-width: 1030px) {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        margin-left: -1rem;
        min-height: 100px;
    }


    @extend %tripHeaders;

    .header-container {
        margin-top: 40px;

        h2 {
            border-bottom: 1px solid rgba(0, 0, 0, 0.21);
            margin-top: -5%;
            margin-left: 4%;
        }

    }

    .trip-field-container {
        @media screen and (min-width: 320px) and (max-width: 576px) {
            width: 100%;
            height: auto;
            flex-direction: column;
            margin: 0;
        }

        @media screen and (min-width: 500px) and (max-width: 1030px) {
            width: 100%;
            height: auto;
            flex-direction: row;
            margin: 0;

        }

        display: flex;
        margin-left: 3%;
        width: 90%;
        padding-top: 1%;
        box-sizing: border-box;


        .trip-button-container {

            @extend %trip-left-side-button;
        }



        .trip-form {

            position: relative;
            width: 75%;
            border: 1px solid #00B9F2;

            @media screen and (min-width: 320px) and (max-width: 576px) {
                width: 90%;
                margin: auto;
                height: auto;
                background-color: white;

                .cityField {
                    display: flex;
                }

                .cityField label {
                    display: none;
                }

                .reasonField label {
                    display: none;
                }

                .dateFields label {
                    display: none;
                }

            }

            form {

                padding-top: 60px;

                .cityField {
                    display: flex;
                    margin-left: -38%;
                    margin-bottom: 6%;
                    .destinationCity {
                       padding-right: -20px;
                       margin-right: -20px;
                    }

                    @media screen and (min-width: 320px) and (max-width: 576px) {
                        margin: 0;

                        .originCity select {
                            width: 100%;
                            margin-left: -100px;
                        }

                        .destinationCity select {
                            width: 100%;
                            margin-left: -50px;
                        }

                    }

                    div {

                        flex: 1;

                        label {
                            margin-left: 100%;
                            padding-left: 50px;
                        }

                        select {
                            width: 50%;
                            height: 42px;
                            border: 1px solid #00B9F2;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 19px;
                            color: #000000;
                            margin-left: 100px;
                        }
                    }


                }

                .reasonField {
                    margin-left: 11.5%;
                    margin-bottom: 5%;

                    textarea {
                        width: 81.5%;
                        height: 18%;
                        border: 1px solid #00B9F2;
                        margin-left: 11%;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 19px;
                        color: #000000;
                        padding-left: 5px;
                        padding-top: 5px;

                    }


                    label {
                        position: absolute;

                    }

                    @media screen and (min-width: 320px) and (max-width: 576px) {
                        margin-top: 7%;
                        margin-left: -8%;
                    }

                }

                .dateFields {
                    margin-left: 11.5%;
                    margin-bottom: -5%;

                    label{
                        padding-right: 2%;
                        margin-left: -3%;
                    }
                    div {
                        display: flex;
                        padding-right: 5%;

                        input {
                            width: 40%;
                            height: 44px;
                            background: #FFFFFF;
                            border: 1px solid #00B9F2;
                            box-sizing: border-box;
                            border-radius: 3px;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 19px;
                            color: #000000;
                            padding-left: 5px;

                        }

                    }

                }

                .btnField {
                    width: 50%;
                    margin-left: 29%;
                    margin-top: 10%;
                    margin-bottom: 2%;

                    .btn-submit {
                        width: 55%;
                        height: 45px;

                        @media screen and (min-width: 320px) and (max-width: 576px) {
                            width: 100%;
                            margin-left: -5%;
                        }

                    }

                }
            }
        }
    }
}