@import 'App.scss';
@import 'base.scss';

.selectOption {
  height: 30px !important;
  margin-right: 15px;
  width: 100%;
  border: 1px solid $logo-color;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
