@import 'base.scss';
@import 'App.scss';
$contents: (
  tripId: 'Trip Id ',
  tripType: 'tripType',
  tripOrigin: 'tripOrigin',
  tripDestination: 'tripDestination',
  createdAt: 'createdAt',
  status: 'status',
  action: 'action',
  firstName: 'First name',
  LastName: 'Last name',
  Email: 'Email',
  UserRole: 'Role',
  EditRole: 'Edit role',
  trip-type:'Trip Type',
  statuses: 'Status',
);
$tt: (
  originId: 'Origin',
  destinationId: 'Destination',
  startDate: 'Start date',
  returnDate: 'Return date',
  reason: 'Reason',
  tripType: 'Trip Type',
  tripOrigin: 'Origin',
  tripDestination: 'Destination',
  status: 'Status',
  Firstname: 'First Name',
  Lastname: 'Last Name',
);
$kk: destinationId originId startDate returnDate reason tripType tripOrigin
  tripDestination status Firstname Lastname;
$attributes: tripId tripType tripOrigin tripDestination createdAt status action
  firstName LastName Email UserRole EditRole;

%div_style {
  height: auto;
  padding: 6.5px 0px;
}
%corassel {
  div {
    background-color: transparent;
  }
  background-color: transparent;
  justify-content: center;
  width: auto;
  max-width: 40%;
  @media screen and (min-width: 200px) and (max-width: 1000px) {
    width: 100% !important;
  }
  margin: auto;
  .pages {
    display: flex;
    flex-direction: row !important;
    padding: 0px !important;
    width: auto !important;
    overflow-x: auto;
    background-color: transparent !important;
    div {
      background-color: transparent !important;
      button {
        border-radius: 50%;
        outline: none;
        min-width: 30px;
        width: auto !important;
        height: 30px;
        padding: 8px 2px;
        margin: 1px;
        color: #00b9f2;
      }
    }
  }

  .arrows {
    max-width: 30px;
    button {
      border-radius: 50%;
      outline: none;
      width: 30px;
      height: 30px;
      padding: 5px 3px;
      margin: 1px;
      color: #00b9f2;
      img{
        height: 20px;
        width: 20px;
      }
    }
  }
}
@each $attr in $kk {
  .#{$attr}:before {
    width: 50%;
    content: map-get($tt, $attr);
    font-weight: 900;
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
}
@each $attr in $attributes {
  @media screen and (min-width: 200px) and (max-width: 600px) {
    .#{$attr}:before {
      content: map-get($contents, $attr);
      padding: 5px 20px;
      width: 40%;
      font-weight: 900;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
  }
}
.searchOption {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  @media screen and (min-width: 200px) and (max-width: 600px) {
    flex-direction: column;
  }
  .search {
    @media screen and (min-width: 200px) and (max-width: 600px) {
      width: 90%;
      margin-top: 10px;
      margin-left: 10px;
      height: 40px;
    }
    outline: none;
    width: 235px;
    height: 40px;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #00b9f2;
    border-radius: 10px;
    padding-left: 5px;
  }
}
.userSearch {
  margin-bottom: 10px;
  @media screen and (min-width: 200px) and (max-width: 600px) {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
  }
  width: 235px;
  height: 40px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #00b9f2;
  border-radius: 10px;
  padding-left: 5px;
}
.tableMainContainer {
  min-height: 91%;
  margin-top: 2%;
  width: 99%;
  .tableContainer {
    width: 90%;
    @media screen and (min-width: 200px) and (max-width: 800px) {
      width: 100%;
    }
    padding-bottom: 10px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    div {
      @extend %full-height-width;
      display: flex;
    }

    .tableHead {
      @extend %div_style;
      background-color: #34c6f3;
      color: white !important;

      @media screen and (min-width: 200px) and (max-width: 800px) {
        display: none;
      }

      div {
        padding-left: 10px;
        margin: 1px;
      }
    }

    .tableNav {
      @media screen and (min-width: 200px) and (max-width: 750px) {
        height: 150px !important;
      }

      margin: 10px 0px;

      display: flex;

      @media screen and (min-width: 200px) and (max-width: 800px) {
        flex-direction: column;
        padding-left: 10px;
      }

      div {
        height: 100%;
        min-height: 30px;

        @media screen and (min-width: 200px) and (max-width: 600px) {
          margin-top: 20px;
        }
      }

      .tableHeader {
        @media screen and (min-width: 200px) and (max-width: 600px) {
          width: 60%;
          height: 40px;
          margin: auto;
        }
      }
      .navRequests {
        width: 100%;
        justify-content: space-between !important;
        @media screen and (min-width: 200px) and (max-width: 750px) {
          flex-direction: column;
        }
        div {
          @media screen and (min-width: 200px) and (max-width: 750px) {
            width: 100% !important;
          }
        }
        .travelRequestHeaders {
          width: 70%;
        }
        .newTrip {
          width: 30%;
        }
        .add-newTrip-Link {
          height: auto;
          width: 50%;
          text-align: center;
          background-color: #00b9f2;
          border: 1px solid #00b9f2;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          color: white;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
        }

        .add-newTrip-Link:hover {
          background-color: #ffffff !important;
          border: solid 1px #00b9f2;
          color: #00b9f2 !important;
        }
      }

      .search {
        height: 100px;
        input {
          @media screen and (min-width: 200px) and (max-width: 600px) {
            width: 60%;
            margin: auto;
            height: 40px;
          }

          width: 235px;
          background: #ffffff;
          border: 1px solid #00b9f2;
          box-sizing: border-box;
          border-radius: 10px;
          padding-left: 5px;
          margin-right: 10px;
          margin-left: 60%;
        }
      }
    }

    .singleRequestHeader {
      @extend %div_style;
      width: 98%;
      padding-left: 2%;

      div {
        width: 80px;

        button {
          font-size: 15px;
          outline: none;
          color: white !important;
          width: 100%;
          min-width: 45px;
          height: 37px;
          background: #34c6f3;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }
        button:hover {
          background: white !important;
          color: #34c6f3 !important;
        }
      }
    }

    .singleRequestFooter {
      @extend %div_style;
      width: 98%;
      padding-left: 2%;

      button {
        font-size: 15px !important;
        outline: none;
        color: white !important;
        margin-left: 78%;
        width: 20%;
        min-width: 45px;
        height: 37px;
        background: #34c6f3;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
      }
      button:hover {
        background: white !important;
        color: #34c6f3 !important;
      }
    }

    .singleRequest {
      @extend %div_style;
      flex-direction: column;
      @media screen and (min-width: 200px) and (max-width: 1000px) {
        flex-direction: column;
      }

      width: 70%;
      margin: 10px auto;

      div {
        display: flex;
        flex-direction: column;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #34c6f3;
        border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #34c6f3;
      }
      .trips {
        width: 98%;
        margin-left: 2%;
        display: flex;

        .trip {
          border: 1px solid #dddddd;
          padding: 2px;
          margin-bottom: 5px;
          overflow-y: auto;
          display: flex;
    flex-direction: column;
        }
        div {
          min-height: 40px;

          div {
            width: 100%;
            flex-direction: row;
            padding-top: 20px;
          }


          div:nth-child(2n) {
            background: #dddddd;
          }
        }
      }
    }

    .comments {
      width: 98%;
      max-height: 600px !important;
      margin-left: 2%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .commentInputField {
        height: 70px;
        margin-top: 30px;
        label {
          margin-bottom: 5px;
          color: #34c6f3;
        }
        textarea {
          height: 90%;
          padding: 10px;
          font-family: muli;
          border-radius: 5px;
          border: 1px solid #34c6f3;
          font-size: 15px;
        }
      }
      .chats {
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-all;
        .commentCardContainer {
          width: 95%;
          height: auto;
          display: flex;
          flex-direction: row;
          margin: 10px 0px;
          border: 1px solid rgb(185, 185, 185);
          padding: 10px;
          border-radius: 5px;
          word-break: break-all;
          .commentProfileImg {
            width: 30px;
            height: 30px;
            border-radius: 50px;
          }
          .commentCardHeader {
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;
            margin-left: 10px;
            .commenter {
              color: $logo-color;
              font-weight: bold;
            }
            .commentText {
              font-size: 14px;
              position: relative;
            }
            .commentDate {
              color: #909090;
              font-size: 10px;
              margin-top: 10px;
              position: relative;
            }

            .commentCardHeaderCenterSide {
              display: flex;
              color: #909090;
            }
          }
          .commentCardHeaderRigthSide {
            display: flex;
            width: 50px;
            button {
              height: 20px;
              width: 30px;
              background-color: transparent;
              border: 0px;
              outline: none;
              img {
                height: 100%;
                width: 70%;
              }
            }
          }
          .commentInputField {
            margin-right: 5px;
            display: flex;
            width: auto;
            border: 1px solid rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            border-radius: 0px;

            textarea {
              border: none;
              padding: 5px;
              height: 100%;
            }
          }
        }
      }
      .chats::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      .chats::-webkit-scrollbar:vertical {
        width: 11px;
      }

      .chats::-webkit-scrollbar:horizontal {
        height: 11px;
      }

      .chats::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: $logo-color;
      }
    }
    .pagination-container {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
    .entity:nth-child(2n) {
      background: white;
    }
    .entity {
      @extend %div_style;

      @media screen and (min-width: 200px) and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      }

      div {
        width: 100%;
        text-align: center !important;
        padding-left: 10px;
        @extend %div_style;
        div {
          width: 90px;
          height: 20px;
          color: white !important;
          background: #34c6f3;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }

        .Pending {
          background: #34c6f3;
        }

        .Approved {
          background: green;
        }

        .Rejected {
          background: red;
        }

        .actionButton {
          padding: 0px !important;
          text-align: center !important;
          width: 80px;
          height: 40px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          border: solid 1px #00b9f2;

          a {
            padding-top: 10px  !important;
            color: white;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
          }

          a:hover {
            color: #00b9f2 !important;
          }
        }

        .actionButton:hover {
          background-color: #ffffff !important;
        }
      }
    }
  }
}

.itemsNotFound {
  width: 80% !important;
  margin: 20px auto;
  padding: 20px 5px;
  border: green solid 1px !important;
}

.approve-button {
  padding: 0px !important;
  text-align: center !important;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: rgb(49, 179, 49) !important;
  color: #ffffff;
}
.approve-button:hover {
  background-color: #ffffff !important;
  border: solid 1px rgb(49, 179, 49) !important;
  color: rgb(49, 179, 49) !important;
}

.reject-button {
  padding: 0px !important;
  text-align: center !important;
  width: 80px;
  height: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: rgb(226, 64, 64) !important;
  color: #ffffff;
}
.reject-button:hover {
  background-color: #ffffff !important;
  border: solid 1px rgb(226, 64, 64) !important;
  color: rgb(226, 64, 64) !important;
}

.back-button {
  text-decoration: none;
  width: 100px;
  color: #00b9f2;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 2;
  cursor: pointer;
}
.confirmPopup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.404);
.bookingAccommodationPopupContainer{
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  margin: auto;
  background-color: white;
  flex-direction: column;
  width: 35% !important;
  height: 70% !important;
  @media screen and (min-width: 200px) and (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    width: 80% !important;
  }

    .saveEditedRequests {
      height: 16%;
      flex-direction: row;
      width: 90% !important;
      margin: auto;
      text-align: right;
      padding-top: 5px;
      button {
        height: 35px;
        padding: 0px 20px;
        margin: 10px 0px;
        margin-left: 40px;
        border-radius: 5px;
        background-color: #00b9f2;
        color: white;
        font-size: 12px;
      }
      button:hover {
        background: white !important;
        color: #34c6f3;
      }
    }
    .bookingHeaderContainer {
      height: 10%;
      color: #34c6f3;
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: auto;
      padding-top: 20px;

      div {
        font-weight: 900;
        font-size: 20px;
        height: 50%;
        width: 100%;
        text-align: center;
      }
    }
    .inputFieldsContainer {
      height: 16%;
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: row;
      @media screen and (min-width: 200px) and (max-width: 700px) {
        flex-direction: column;
      }
      .labelSide {
        width: 30%;
        padding: 0px;
        margin: 0px;
        @media screen and (min-width: 200px) and (max-width: 700px) {
          width: 100%;
        }
      }
      .inputSide {
        width: 70%;
        padding: 0px;
        margin: 0px;
        @media screen and (min-width: 200px) and (max-width: 700px) {
          width: 100%;
        }
      }
    input, select {
      height: 30px;
      padding: 7px 0px;
      margin:  0px;
      border: solid 1px #909090 !important;
      outline: none;
      width: 100%;
      border-radius: 2px !important;
      option{
        height: 100%;
        width: 100%;
        border-radius: 2px !important;
        option {
          height: 100%;
          width: 100%;
        }
      }
      input {
        width: 96%;
        padding: 7px 2%;
      }
    }
  }

  .popupContainer {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    width: 300px !important;
    height: 150px !important;
    margin: auto;
    background-color: white;
    .popupMessage {
      padding: 5px;
    }
    .popupButtons {
      width: 40%;
      display: flex;
      margin-right: 50px;
    }
    div {
      margin-top: 13px;
      height: 40px;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      div {
        width: 80px;
        padding: 10px;
        button {
          width: 80px;
          margin: 3px;
          border: 0px;
          color: white;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
        }
        #delete {
          background-color: red;
        }
        #cancel {
          background-color: #00b9f2;
        }
      }
    }
  }
}
}
.pagination-buttons {
  display: flex;
  flex-direction: row !important;
  margin: 20px auto;
  background-color: transparent !important;
  @extend %corassel;
  overflow-x: auto;
}
.saveEditedRequests {
  height: 10% !important;
  flex-direction: row;
  justify-content: right;
  width: 90% !important;
  margin-left: 35%;
  padding-top: 5px;
  button {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 120px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
  }
  #cancel {
    background-color: rgb(252, 35, 35) !important;
    margin-left: 60%;
    width: 10%;
    font-size: 25px;
  }
  #save {
    background-color: #00b9f2 !important;
  }
  #cancel:hover {
    background: white !important;
    color:  rgb(252, 35, 35);
    padding: 5px;
  }
  #save:hover {
    background: white !important;
    color: #34c6f3;
  }
}
.editPopupContainer {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  margin: auto;
  background-color: white !important;
  flex-direction: column;
  width: 35% !important;
  height: 90% !important;
  @media screen and (min-width: 200px) and (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    width: 80% !important;
  }
  .pagination-container{
    width: 100%;
    height: 100% !important;
    .pagination-buttons{
height: 50px;
    }
  .inputFields{
   height: 100% !important;
    flex-direction: column;
    .editRequestFields {
      flex-direction: column;
      width: 90% !important;
      margin: auto;
      .label {
        padding-top: 20px;
        font-weight: 700;
      }
      div {
        width: 100%;
        height: 32px;
        select,
        input,
        textarea {
          border: solid 1px #909090 !important;
          outline: none;
          padding: 5px;
          margin: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px !important;
        }
      }
    }
  }
}
}
