%top-side-header {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

%z-index-value {
  z-index: -1;
}

button {
  cursor: pointer;
}

ul li .signout {
  margin-top: 3rem;
}

/*******************************
  Left and right sidebar style
*******************************/

.top-side {
  @extend %top-side-header;
  height: 6%;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 4;
  .top-side-left {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;

    .top-left-custom-logo {

      .top-left-custom-app-name {
        margin-top: 18px;
      }

      .top-left-custom-logo{
        padding: 10px;
        height: 40px;
        width: 40px;
      }

      .top-left-custom-nav-app-logo {
        img{
          width: 30px;
          height: 35px;
        }
        display: flex;
        text-decoration: none;
        color: #00B9F2;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .leaveSpaceBetweenTop-LeftAndTop-RightHeader {
    flex: 1;
  }

  .top-side-right {
    height: 100%;
    display: flex;
    align-items: center;

    ul {
      list-style-type: none;
      display: flex;
      padding-right: 2rem;
      align-items: center;
    }

    li {
      padding: 0 1rem;
    }

    li p {
      color: #34C6F3;
      font-size: 1.2em;
    }
    ul .profile-icon img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

  .notification-content{
    height: 180px;
    display: none;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 480px;
    right:0;
    margin-left: -250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .notification-content::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .notification-content::-webkit-scrollbar:vertical {
    width: 7px;
  }

  .notification-content::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  .notification-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #00B9F2; /* should match background, can't be transparent */
    background-color: #00B9F2;
  }

  .notification:hover .notification-content {
      display: block;
  }

  .notification-item {
      margin-top: 0px;
      margin-bottom: 10px;
      height: auto;
  }

  .notification-item img{
      width: 30px;
      height: 30px;
  }
    .notification-item p{
      color: #00B9F2;
      font-size: 13px;
    }


    .notification-item small{
      color:#5c5c5c;
      padding-left: 22px;
      font-size: 10px;
    }
    .notification-details {
    margin-bottom: 10px;
      padding: 0px;
      display: flex;
      align-items: center;
      display:inline-flex;

    }
    
    .notification-details {
      display:inline-flex;
      align-self: flex-start;
    }
    .notification-date {
      margin-left: 20px;
    }

    .notification-count {
      height: 16px;
      width: 16px;
      background-color: red;
      border-radius: 50%;
      display: inline-flex;
      text-align: center;
      position: fixed;
      margin-left: -12px;
    }

    .notification-count p {
      font-size: 10px;
      color: black;
      text-align: center;
      margin-left: 3px;
      padding: 2px;
    }

    .dot {
      display:inline-flex;
      margin-left: 85%;
      height: 5px;
      width: 5px;
      background-color: #00B9F2;
      border-radius: 50%;
      position: absolute;
    }

    .notification-title {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
     
    }
    .notification-title h2 {
      margin-right: 190px;
      font-size: 18px;
    }

    .notification-item-title img {
      width: 20px;
      height: 20px;
      margin-right: 20px;

    }
    .notification-item-title a{
      text-decoration: none;
    }

    .notification-title button{
      font-size: 10px;
      color: #00B9F2;
      margin-left: 109px;
      margin-top: 8px;
      // align-self: center;
      border:1px solid transparent;
    }

    .notification-border {
      border:1px solid rgba(0, 0, 0, 0.31);
      margin-bottom: 10px;
      border-width: 0.3px;
    }
    .notification-item-title {
      color: rgba(0, 0, 0, 0.46);
      display: flex;
      width: 100%;
      align-items: center;

    }
    .notification-item-title h4{
      padding-right: 220px;
    }

    .see-all {
      position: -webkit-sticky;
      position: sticky;
      top:0;
    }

    .see-all a{
      text-align: center;
      font-size: 11px;
      color:#00B9F2;
      text-decoration: none;
    }
  }
}

.both-side {
  min-height: 500px;
  display: flex;
  height: 94%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 6%;
  width: 100%;

  .left-side {

    width: 16%;
    background-color: #34C6F3;
    height: 100%;
    position: fixed;
    left: 0;
  }

  .right-side {
  
    width: 84%;
    height: 100%;
    position: relative;
  }
}

/***********************
  Responsiveness
***********************/


@media (max-width: 576px) and (min-width: 320px) {

  .top-side {
    position: absolute;
  }
  .both-side .left-side {
    display: none;
  }
  .both-side .right-side {
    width: 100%;
    height: auto;
  }
  .top-side .top-side-left .top-left-custom-logo .top-left-custom-nav-app-logo {
    font-size: 1.5rem;
    padding-left: 10px;
  }
  .top-side .top-side-left .top-left-custom-logo .top-left-custom-logo {
    padding: 5px;
  }

  .top-side .top-side-right {
    ul .username, ul .profile-icon {
      display: none;
    }
  }

  .top-side .top-side-right ul {
    padding-right: 2.5rem;
  }
  .side-drawer {
    ul a {
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    ul li img {
      padding-right: 0.5rem;
    }
  }
  .notification-content{
    height: 180px;
    display: none;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 380px;
    right:0;
    margin-left: -250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .notification-title button{
    font-size: 10px;
    color: #00B9F2;
    margin-left: 19px;
    margin-top: 8px;
    // align-self: center;
    border:1px solid transparent;
  }
}

@media (max-width: 775px) and (min-width: 577px) {
  .top-side {
    height: 11%;
    position: absolute;

    .nav-toggle-btn {
      display: flex;
    }

    .top-side-right li p {
      font-size: 1em;
    }
    .top-side-right ul {
      padding-right: 0;
    }

    .top-side-left {
      .top-left-custom-logo {
        padding: 0 1rem;
      }
    }
  }

  .side-drawer {
    .user-info {
      display: none;
    }
    ul {
      padding: 5rem 3rem;
    }
    ul li {
      margin: 1.4rem 2rem
    }
    ul a {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    ul li img {
      padding-right: 0.5rem;
    }
    ul li a span:hover {
      border-bottom: 2px solid white;
    }
  }

  .both-side {
    .left-side {
      display: none;
    }
    .right-side {
      width: 100%;
    }
  }
}

@media (min-width: 776px) {
  .nav-toggle-btn {
    display: none;
  }

  .both-side { 

    .left-side {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 5rem 0.5rem;
      }
      ul li {
        padding: 1.2rem 0.5rem;
        border-bottom: solid 1px;
      }
      ul li:hover {
        cursor: pointer;
      }
      ul li a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      ul li img {
        padding-right: 0.5rem;
      }
      ul li a span:hover {
        border-bottom: 2px solid white;
      }
    }
    
  }

  .notification-content {
    width: 10%;
   }
   .notification-title button{
     font-size: 10px;
     color: #00B9F2;
     margin-left: 19px;
     margin-top: 8px;
     // align-self: center;
     border:1px solid transparent;
   }
}
