.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00B9F2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  width: 120px;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

