.accommodation-container-details {
  width: 90%;
  background: #ffffff;
  display: flex;
  margin: 0 auto 0 auto;
}

.accommodation-title {
  h1 {
    text-align: center;
    padding: 30px 0;
    font-family: muli;
    font-weight: 900;
    font-size: 25px;
  }
}

.accommodation-details-data {
  display: flex;
  width: 100%;
  height: 300px;
  .main-accommodation-image {
    width: 40%;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .main-accommodation-details {
    padding: 0 15px 0px 15px;
    width: 60%;
    .main-accommodation-details-title {
      padding: 10px 0 12px 0;
      font-size: 22px;
      font-weight: 900;
      font-family: muli;
    }
    .common-section {
      display: flex;
      flex-direction: row;
      margin: 10px 0 0px 0;
    }
    .common-section-name {
      font-weight: 900;
      font-family: muli;
      color: #000000;
      letter-spacing: 0.07em;
      font-size: 16px;
    }
    .description-section {
      display: flex;
      flex-direction: column;
    }
    .accommodation-details-single-data {
      margin-left: 10px;
      letter-spacing: 0.03em;
      color: #606060;
      font-family: Muli;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
    }
    .description-section-text {
      // margin-left: 0;
      margin-top: 7px;
      letter-spacing: 0.03em;
    }
  }
}

.more-rooms-images-container {
  width: 90%;
  margin: auto;
  .more-rooms-images {
    h1 {
      text-align: left;
      padding: 30px 0;
      font-weight: 900;
      font-family: Muli;
      font-style: normal;
      display: flex;
      color: #000000;
      font-size: 23px;
    }
  }
}

.more-rooms-images img {
  width: 250px ;
  height: 200px;
}

.user-reviews-container {
  width: 90%;
  margin: auto;
  .user-review-title {
    h1 {
      text-align: left;
      padding: 30px 0;
      font-weight: 900;
      font-family: Muli;
      font-style: normal;
      display: flex;
      color: #000000;
      font-size: 23px;
    }
  }
}

.user-reviews-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: white;
  padding: 13px 0;
  border-bottom: 0.1px solid #33c6f3;
  .user-review-profile {
    margin-left: 2px;
  }
  .user-review-profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  .user-review-information {
    padding: 0 10px;
    .user-review-name {
      font-family: Muli;
      font-style: normal;
      line-height: 25px;
      color: #000000;
      padding: 0px 0 10px 0;
      font-size: 10px;
      font-weight: 900;
    }
    .user-review-rate-time {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-bottom: 10px;
      .view-time-stamp {
        padding: 0 10px;
        font-family: Muli;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #606060;
      }
    }
    .view-user-message {
      font-family: Muli;
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.07em;
      color: #606060;
    }
  }
}

@media (max-width: 600px) and (min-width: 320px) {
  .accommodation-title h1 {
    padding: 15px 0;
    font-size: 20px;
  }

  .accommodation-container-details {
    .accommodation-details-data {
      flex-direction: column;
      height: 600px;
      width: 100%;
      .main-accommodation-image {
        width: 100%;
      }
      .main-accommodation-details {
        width: auto;
      }
    }

  }
}

button.visit-map-button {
  background-color: #32c8f4;
  text-align: center;
  margin-top: 5px;
  padding: 8px 17px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0px #BBBBBB;
  color: white;
  font-family: muli;
  font-size: 17px;
}
button.visit-map-button:hover {
  background-color: #0daddcdb;
  box-shadow: '0 0 0 2px rgba(0,0,0,.1)',
}
